<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="nilnul.fs.folder._cfg._destination._dnt._exts.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="nilnul.fs.folder.dnt_.cfg.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="nilnul.fs.folder.doc_.nilnulCfg.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="nilnul.fs.folder.denotes_._ignored.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
 <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<!--<dependentAssembly>
				<assemblyIdentity name="nilnul._rel_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.7815.19949" newVersion="1.0.7815.19949" />
			</dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="nilnul._obj_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8205.39138" newVersion="1.0.8205.39138" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._rel_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.1.8204.40229" newVersion="1.1.8204.40229" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._txt_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8177.42068" newVersion="1.0.8177.42068" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._num_._LINQ_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.7842.32362" newVersion="1.0.7842.32362" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._num_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8190.42030" newVersion="1.0.8190.42030" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul.num._real_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8200.38798" newVersion="2.0.8200.38798" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul.num._integer_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8199.27245" newVersion="1.0.8199.27245" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._set_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8134.33265" newVersion="1.0.8134.33265" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._bit_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8141.1262" newVersion="1.0.8141.1262" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul.num._quotient_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8171.36704" newVersion="1.0.8171.36704" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="_nilnul_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.0.8172.37171" newVersion="1.0.8172.37171" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="nilnul._character_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.8260.30496" newVersion="2.1.8260.30496" />
			</dependentAssembly>
		</assemblyBinding>

		<AppContextSwitchOverrides value="Switch.System.IO.UseLegacyPathHandling=false;Switch.System.IO.BlockLongPaths=false" />

	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
 <userSettings>
  <nilnul.fs.folder._cfg._destination._dnt._exts.Settings1>
   <setting name="xec" serializeAs="String">
    <value>.xec</value>
   </setting>
  </nilnul.fs.folder._cfg._destination._dnt._exts.Settings1>
  <nilnul.fs.folder.dnt_.cfg.Settings1>
   <setting name="txt" serializeAs="String">
    <value>.nilnul</value>
   </setting>
  </nilnul.fs.folder.dnt_.cfg.Settings1>
  <nilnul.fs.folder.doc_.nilnulCfg.Settings1>
   <setting name="name" serializeAs="String">
    <value>.nilnulCfg</value>
   </setting>
  </nilnul.fs.folder.doc_.nilnulCfg.Settings1>
  <nilnul.fs.folder.denotes_._ignored.Settings1>
   <setting name="ignoreDoc" serializeAs="String">
    <value>.ignored</value>
   </setting>
  </nilnul.fs.folder.denotes_._ignored.Settings1>
 </userSettings>
</configuration>
